<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- Список конфигураций по которым определяется на каком хосте запускать расписание, например -->
    <add key="CONFIGURATION_LIST" value="FULL" />
    <!-- Необходима инициализация Looper'а -->
    <add key="LOOPER_INIT" value="true" />
    <!-- Запускать обработчики автоматически при старте хоста. Не учитывается если LOOPER_INIT=false -->
    <add key="LOOPER_AUTOSTART" value="true" />
    <!-- Название Windows-сервиса -->
    <add key="DefaultSchema" value="Jupiter" />
    <add key="SERVICE_NAME" value="TPM Processing Host" />
    <add key="ENABLE_LOCAL_ENVIRONMENT" value="true" />
	  <add key="LOCAL_USER_NAME" value="Your username" />
    <add key="HANDLER_LOG_DIRECTORY" value="C:\Windows\Temp\TPM\HandlerLogs" />
    <add key="PROMO_SUPPORT_DIRECTORY" value="C:\Windows\Temp\TPM\PromoSupportFiles" />
    <add key="IMPORT_DIRECTORY" value="C:\Windows\Temp\TPM\ImportFiles" />
    <add key="EXPORT_DIRECTORY" value="C:\Windows\Temp\TPM\ExportFiles" />
    <add key="INTERFACE_USER_DIRECTORY" value="C:\Windows\Temp\TPM\InterfaceUserFiles" />
    <add key="INTERFACE_DIRECTORY" value="C:\Windows\Temp\TPM\InterfaceFiles" />
    <add key="INTERFACE_DIRECTORY_INBOUND_OUTCOME" value="InterfaceFilesInboundOutCome" />
    <add key="INTERFACE_DIRECTORY_OUTBOUND_INCOME" value="InterfaceFilesOutboundIncome" />
    <add key="IMPORT_RESULT_DIRECTORY" value="C:\Windows\Temp\TPM\ImportResultFiles" />
    <add key="DATALAKESYNC_RESULT_DIRECTORY" value="C:\Windows\Temp\TPM\DataLakeSyncResultFiles" />
    <add key="HANDLER_CONFIG_DIRECTORY" value="C:\Windows\Temp\TPM\HandlerConfig" />
    <add key="MANUAL_DIRECTORY" value="C:\Windows\Temp\TPM\Manuals" />
    <add key="LOOPHANDLER_PARAMETER_DIRECTORY" value="C:\Windows\Temp\TPM\HandlerParameters" />
    <add key="INTEGRITY_CHECK_RESULT_DIRECTORY" value="C:\Windows\Temp\TPM\IntegrityCheckResults" />
    <add key="USER_SETTINGS_FILE_PATH" value="C:\Windows\Temp\TPM\EmailNotificationSettings.xml" />
    <add key="RUNTIME_ENVIROMENT" value="dev" />
    <add key="HANDLER_LOG_TYPE" value="File" />
    <add key="InputBaselineHeader" value="false" />
	<!--Material Sync-->
	<add key="SYNC_DEPTH" value="10080" />
    <add key="DatabaseContextJupiterAzure" value="Server=STSVH-SQL01\MSSQLSERVER2017,1435; Database=TPM_RC_Main_Dev_Current; Persist Security Info=True;User ID=userdb;Password=qwerty1;MultipleActiveResultSets=True" />
    <add key="KVnameOfDatabaseContext" value="DatabaseContextJupiterAzure" />
    <add key="NotificationService" value="NLog" />
	  <add key="AllowNotificationsSending" value="false" />

    <!--<add key="HistoryModule" value="MongoDB" />-->
    <!--Elastic-->
    <add key="ElasticHistoryIndexName" value="tpm_elastic_index_01" />
    <add key="ElasticHistoryTypeName" value="entry" />
    <add key="ElasticHost" value="http://elastic:changeme@localhost:9200" />
    <!--mongo-->
    <add key="MongoUser" value="jupiterdevacdb" />
    <add key="MongoPass" value="A4KaSNYo1rdFTmWFRi6LhdC3DJSY2MYhdDdZtIO8ragsIa8vTwbaJWByhmYEhxSO602DeQ9Lp7FymcDGwrHpnA==" />
    <add key="MongoResource" value="jupiterdevacdb.mongo.cosmos.azure.com:10255" />
    <add key="MongoParams" value="ssl=true&amp;replicaSet=globaldb&amp;retrywrites=false&amp;maxIdleTimeMS=120000&amp;appName=@jupiterdevacdb@" />
    <add key="MongoTTLSec" value="63113904" />
    <add key="MongoURITemplate" value="mongodb://{0}:{1}@{2}/{3}?{4}" />
    <add key="MongoUrl" value="mongodb://jupiterdevacdb:A4KaSNYo1rdFTmWFRi6LhdC3DJSY2MYhdDdZtIO8ragsIa8vTwbaJWByhmYEhxSO602DeQ9Lp7FymcDGwrHpnA==@jupiterdevacdb.mongo.cosmos.azure.com:10255/Test?ssl=true&amp;replicaSet=globaldb&amp;retrywrites=false&amp;maxIdleTimeMS=120000&amp;appName=@jupiterdevacdb@" />
    <add key="MongoDBName" value="Test" />
    <!--KeyVault-->
    <add key="UseKeyVault" value="false" />
    <add key="KeyVaultId" value="0256ae60-7e33-454a-95d5-40990a7ba03f" />
    <add key="KeyVaultPass" value="V-6REc-juI.7KMasJ1k0-7zv-3qJR7SXF." />
    <add key="KeyVaultUrl" value="jupiterdevkv" />
    <!-- BlobStorage -->
    <add key="BlobConnectionType" value="SAS" />
    <add key="BlobStorageSAS" value="sv=2019-02-02&amp;sr=c&amp;si=external-write&amp;sig=VgV4eflo5VOOthsfbjiuu33cH20EFbLsPwZFk7c9fG8%3D" />
    <add key="BlobStorageName" value="marsanalyticsshareddevsa" />
    <add key="BlobStorageContainer" value="russiapetcarejupiter" />
    <!-- AppInsights -->
    <add key="AppInsightKey" value="0a75b76f-d9b2-4a34-8145-5730c95e5664" />
  </appSettings>
  <connectionStrings>
    <add name="HistoryDocumentStore" connectionString="Url = http://localhost:8080" />
    <add name="DatabaseContext" connectionString="Server=STSVH-SQL01\MSSQLSERVER2017,1435; Database=TPM_RC_Main_Dev_Current; Persist Security Info=True;User ID=userdb;Password=qwerty1;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <!--<add name="DatabaseContext" connectionString="Server=smartcomdevsqlsrv.database.windows.net,1435; Database=jupiterdevsqldb; Persist Security Info=True;User ID=jupiter_user;Password=Kz3CL7XGXbCD;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <!--<defaultConnectionFactory type="Npgsql.NpgsqlConnectionFactory, EntityFramework6.Npgsql" />-->
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <!--<provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />-->
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.3.0" newVersion="3.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.145" newVersion="1.1.0.145" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NPOI.OOXML" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.1.0" newVersion="2.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.9004" newVersion="3.4.1.9004" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.40306.1554" newVersion="4.0.40306.1554" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Storage.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.1.7.0" newVersion="11.1.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.19.4.11002" newVersion="3.19.4.11002" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.Platform" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.19.4.11002" newVersion="3.19.4.11002" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.14.0.17971" newVersion="2.14.0.17971" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>