.logo {
    /*border-right-width: 1px;
    border-color: #4c4a49;
    border-style: solid;*/
}



/*.x-panel-body-detailform-panel {
    background: #ffffff !important;
}*/

.chart-tooltip {
    background-color: rgba(234, 104, 104, 0.83);
    border-color: black;
    border-radius: unset;
    user-select: none;
}

.chart-tooltip-hidden {
    display: none !important;
}


.chart-tooltip .x-tip-header-text-container-default {
    color: white;
    font-size: 12px;
}

.no-filter-cls .x-column-header-inner {
    padding-top: 6px !important;
}

.warning-form-msg {
    color: #ff3031;
    font-size: 11px;
    bottom: 10px;
    right: 10px;
}

.label-center {
    text-align: center;
}

.text-image-style {
    background-image: url(images/text.svg);
    background-repeat: no-repeat;
    width: 80px;
    left: -10px;
}

.analytics-image-style {
    background-image: url(images/analytics.svg);
    background-repeat: no-repeat;
    width: 80px;
    left: -10px;
}

.labelable-button .x-form-item-label {
    color: #54616e;
    font-size: 12px;
    background-color: #e9ecef;
    border: 1px solid white;
    height: 25px;
    line-height: 14px;
    padding: 4px 6px 3px 6px;
    margin-top: 0;
}

.x-spotlight {
    background-color: black;
    z-index: 8999;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .2;
    filter: alpha(opacity=50);
    width: 0;
    height: 0;
    zoom: 1;
    font-size: 0;
}

.x-active-spotlight {
    background-color: transparent;
    content: '';
    pointer-events: none;
    touch-action: none;
}

.x-active-spotlight-mask {
    background-color: black;
    opacity: .2;
    filter: alpha(opacity=50);
    zoom: 1;
    font-size: 0;
    pointer-events: auto;
    touch-action: auto;
}

.x-grid-row-selected:not(.x-grid-row-checked) .x-grid-row-checker {
    background-position: 0 0 !important;
}

.x-border-layout-ct {
    background-color: inherit;
}

.x-toolbar-text-grid-info-text {
    left: 0 !important;
    font-size: 10px;
    color: #5a5a5a;
}

.grid-info-toolbar {
    position: relative !important;
    top: 44px !important;
    height: 16px !important;
}

.grid-info-toolbar-has-scroll {
    position: relative !important;
    top: 51px !important;
    height: 16px !important;
}

.shadow-target::before {
    background-color: transparent;
    content: '';
    position: absolute;
    z-index: 3;
    box-shadow: inset 11px 0px 12px -5px rgba(0,0,0,.3), inset 0px -11px 12px -5px rgba(0,0,0,.3);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    touch-action: none;
}

.error-import-form::before {
    background-color: rgba(255,48,49,0.1);
    border: 2px solid #f58c8c;
    border-radius: 4px;
    content: '';
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    touch-action: none;
}

.error-import-form-msg {
    color: #ff3031;
    font-size: 11px;
    bottom: 10px;
    right: 10px;
}

.toptoolbar-container,
.toptoolbar-container > .x-box-inner {
    overflow: visible !important;
    z-index: 2;
}

.topcurtain {
    background-color: #90a4ae;
    z-index: 2;
    pointer-events: none;
    touch-action: none;
}

.x-masked .x-mask,
.loadmask {
    background-color: white !important;
}

.backbutton .x-btn-wrap {
    background-image: url(images/button/main-menu-button-medium-s-arrow.png);
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 32px;
}

.tr-radius-button {
    border-top-right-radius: 4px;
}

.x-panel-blue-selectable-panel-framed .custom-button:hover {
    background-color: #42a5f5;
}

.x-grid-with-row-lines .x-grid-table {
    border-width: 0 !important;
}

.x-form-password-trigger {
    background-image: url(images/form/eye.png);
    background-repeat: no-repeat !important;
    background-position: center !important;
}

    .x-form-password-trigger:hover {
        background-image: url(images/form/eye-over.png);
    }

.x-form-hide-password-trigger {
    background-image: url(images/form/eye-off.png);
    background-repeat: no-repeat !important;
    background-position: center !important;
}

    .x-form-hide-password-trigger:hover {
        background-image: url(images/form/eye-off-over.png);
    }

.x-form-detail-trigger {
    background-image: url(images/form/trigger-detail.png);
    background-repeat: no-repeat !important;
    background-position: center !important;
}

    .x-form-detail-trigger:hover {
        background-image: url(images/form/trigger-detail-over.png);
    }

.x-form-arrow-trigger {
    background-image: url(images/form/trigger-single.png) !important;
    background-position: 0 0 !important;
}

    .x-form-arrow-trigger:hover {
        background-image: url(images/form/trigger-single-over.png) !important;
    }

.x-form-spinner-up {
    background-image: url(images/form/spinner-single.png) !important;
    background-position: 0 0 !important;
}

    .x-form-spinner-up:hover {
        background-image: url(images/form/spinner-single-over.png) !important;
    }

.x-form-spinner-down {
    background-image: url(images/form/spinner-single.png) !important;
    background-position: 0 -11px !important;
}

    .x-form-spinner-down:hover {
        background-image: url(images/form/spinner-single-over.png) !important;
    }

.x-form-search-trigger {
    background-image: url(images/form/magnify.png);
    background-repeat: no-repeat !important;
    background-position: center !important;
}

    .x-form-search-trigger:hover {
        background-image: url(images/form/magnify-over.png);
    }

.x-form-clear-trigger {
    background-image: url(images/form/clear.png);
    background-repeat: no-repeat !important;
    background-position: center !important;
}

    .x-form-clear-trigger:hover {
        background-image: url(images/form/clear-over.png);
    }

.x-form-date-trigger {
    background-image: url(images/form/calendar-blank.png);
    background-repeat: no-repeat !important;
    background-position: center !important;
}

    .x-form-date-trigger:hover {
        background-image: url(images/form/calendar-blank-over.png);
    }

.x-form-timenow-trigger {
    background-image: url(images/form/calendar-today.png);
    background-repeat: no-repeat !important;
    background-position: center !important;
}

    .x-form-timenow-trigger:hover {
        background-image: url(images/form/calendar-today-over.png);
    }

.x-pickerfield-open .x-form-date-trigger {
    background-image: url(images/form/calendar-blank-blue.png);
}

/* MessageBox */

.x-message-box .x-form-display-field {
    color: white;
}

.x-message-box .x-dlg-icon {
    left: 10px !important;
}

    .x-message-box .x-dlg-icon + .x-container {
        padding-left: 30px;
    }

.x-message-box-question {
    background-image: url(images/shared/icon-question-gray.png);
}

.x-message-box-info {
    background-image: url(images/shared/icon-info-gray.png);
}

/* FilterBar */

.x-grid-header-ct .x-column-filtered .x-column-header-inner .x-column-header-text {
    font-style: normal;
    color: #42a5f5;
}

.x-clear-filter-button {
    width: 22px !important;
    margin-top: 4px;
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: #ccd1d9;
}

    .x-clear-filter-button .x-clear-filter-icon {
        left: 2px;
    }

.x-column-header .fileterbar-field-container {
    cursor: default;
}

/* Directory Grid */

.directorygrid-toolbar {
    border-width: 1px 1px 0 1px !important;
}

    .directorygrid-toolbar .x-toolbar-separator-vertical {
        border-color: #ccd1d9;
        padding: 0 !important;
        left: 0 !important;
        width: 100% !important;
    }

.directorygrid {
    background-color: #ffffff;
}

    .directorygrid .x-grid-header-ct {
        border-width: 1px 1px 0 1px !important;
        border-color: #ccd1d9;
    }

    .directorygrid .border-body::before {
        background-color: transparent;
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        right: 21px;
        bottom: 21px;
        left: 0;
        pointer-events: none;
        touch-action: none;
        border-width: 0 0 1px 1px;
        border-style: solid;
        border-color: #ccd1d9;
    }


/* Multiselect Grid */

.multiselectgrid .x-grid-body {
    background-color: #eceff1 !important;
}

.multiselectgrid .x-grid-cell {
    padding-bottom: 3px;
    padding-right: 3px;
    background-color: transparent;
}

.multiselectgrid .x-grid-cell-inner {
    background-color: white;
    border: 1px solid #ccd1d9;
    height: 30px;
    padding-top: 7px;
    padding-bottom: 2px;
}

.multiselectgrid .x-grid-cell-selected .x-grid-cell-inner {
    background-color: #e1f5fe;
}

.multiselectgrid .x-form-field {
    border-radius: 0;
    height: 30px;
}

.multiselectgrid .x-editor .x-form-item-body {
    padding-right: 3px;
}

/* Settings Grids */

.columnsettingsgrid .x-column-header-inner,
.filtersettingsgrid .x-column-header-inner {
    background-color: #8a98a7 !important;
}

.columnsettingsgrid .x-column-header-text,
.filtersettingsgrid .x-column-header-text {
    color: white !important;
}

.columnsettingsgrid .x-column-header,
.filtersettingsgrid .x-column-header {
    border-width: 0 1px 0 0;
    border-color: #ccd1d9 !important;
}

.filtersettingsgrid:not(.x-column-header-first) {
    border-width: 0 !important;
}

.columnsettingsgrid .x-grid-td,
.filtersettingsgrid .x-grid-td {
    border-color: #ccd1d9 !important;
}

.filtersettingsgrid .x-grid-row-alt:not(.x-grid-row-over) .x-grid-td {
    background-color: white;
}

.filtersettingsgrid .x-grid-row-selected:not(.x-grid-row-over) .x-grid-td {
    background-color: white;
}

.columnsettingsgrid .x-grid-row-selected .x-grid-td,
.filtersettingsgrid .x-grid-row-selected.x-grid-row-over .x-grid-td {
    background-color: #e1f5fe;
}

.filtersettingsgrid .x-grid-row-checker {
    background-image: url(images/form/checkbox-blank-outline-gray.png);
    background-repeat: no-repeat !important;
    /*background-position: center !important;*/
}

.filtersettingsgrid .x-grid-row-over .x-grid-row-checker {
    background-image: url(images/form/checkbox-blank-outline-blue.png);
}

.filtersettingsgrid .x-grid-row-selected .x-grid-row-checker {
    background-image: url(images/form/checkbox-marked-blue-alt.png);
}

.filtersettingsgrid .x-column-header-checkbox .x-column-header-inner {
    padding-left: 2px !important;
}

.filtersettingsgrid .x-column-header-checkbox .x-column-header-text {
    background-image: url(images/form/checkbox-blank-outline-white.png);
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.filtersettingsgrid .x-column-header-checkbox.x-grid-hd-checker-on .x-column-header-text {
    background-image: url(images/form/checkbox-marked-white.png);
}

.filtersettingsgrid .x-column-sort-button {
    padding-top: 4px;
    color: white;
}

.filtersettingsgrid .x-column-header-sort-ASC .x-column-sort-button,
.filtersettingsgrid .x-column-header-sort-DESC .x-column-sort-button {
    color: white;
}

.columnsettingsgrid .x-column-header-text {
    width: 90% !important;
    padding-right: 0 !important;
}

.columnsettingsgrid .x-grid-header-ct {
    background-color: #8a98a7;
}

.columnsettingsgrid .jspHorizontalBar {
    height: 0px !important;
}

.columnsettingsgrid .jspVerticalBar .jspCap {
    height: 10px;
}

/* Detail Panel */

.singleline-lable,
.singlelinedisplayfield {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ModeSwitcher */
.modelswitchercheckbox {
    -webkit-appearance: none;
    width: 40px;
    padding-left: 18px;
    margin: 0;
    border-radius: 8px;
    background: radial-gradient(circle 6px, white 100%, transparent calc(100% + 1px)) #ccc -10px;
    /*transition: 0.3s ease-in-out;*/
}

    .modelswitchercheckbox::before {
        content: "OFF";
        font: bold 8px/16px Verdana;
        color: white;
        text-shadow: 0 1px black;
    }

:checked {
    padding-left: 4px;
    background-color: #66bb6a;
    background-position: 10px;
}

    :checked::before {
        content: "ON";
    }

/* Security Buttons  */
.rolebutton .securitybutton-text {
    font-weight: bold;
}

.rolebutton .securitybutton-text,
.userbutton .securitybutton-text {
    border-bottom: 1px solid #ccd1d9;
}

.rolebutton .x-btn-inner,
.userbutton .x-btn-inner {
    padding-top: 1px !important;
    padding-bottom: 1px;
}

/* Column Header */

.x-column-header-sort-ASC .x-column-header-text,
.x-column-header-sort-DESC .x-column-header-text {
    background-image: none;
    color: #32b6e8;
}

.x-column-header-text {
    width: 80% !important;
    text-overflow: ellipsis;
    overflow: hidden;
    float: left;
    padding-right: 17px;
}

/* Scrollbars */

/* Scrollbars for panels */

.x-window.scrollable > .x-window-body:not(.has-vertical-scroll) {
    padding-right: 7px !important;
}

.x-panel:not(.associated-directory) .x-panel-body-marengo-panel:not(.has-vertical-scroll) {
    padding-right: 12px !important;
}

.associated-marengo-panel .x-panel-body-marengo-panel:not(.has-vertical-scroll) {
    padding-right: 12px !important;
}

.x-window > .x-window-body > .jspContainer > .jspVerticalBar .jspDrag,
.x-panel-marengo-panel > .x-panel-body > .jspContainer > .jspVerticalBar .jspDrag,
.x-window > .x-window-body > .jspContainer > .jspHorizontalBar .jspDrag,
.x-panel-marengo-panel > .x-panel-body > .jspContainer > .jspHorizontalBar .jspDrag {
    background-color: #bfced8;
    border-radius: 8px;
}

.x-window > .x-window-body > .jspContainer > .jspVerticalBar .jspTrack,
.x-panel-marengo-panel > .x-panel-body > .jspContainer > .jspVerticalBar .jspTrack,
.x-window > .x-window-body > .jspContainer > .jspHorizontalBar .jspTrack,
.x-panel-marengo-panel > .x-panel-body > .jspContainer > .jspHorizontalBar .jspTrack {
    border-radius: 8px;
    background-color: #778a93 !important;
}

.x-window > .x-window-body > .jspContainer > .jspVerticalBar .jspCap,
.x-panel-marengo-panel > .x-panel-body > .jspContainer > .jspVerticalBar .jspCap,
.x-window > .x-window-body > .jspContainer > .jspHorizontalBar .jspCap,
.x-panel-marengo-panel > .x-panel-body > .jspContainer > .jspHorizontalBar .jspCap {
    display: block;
}

/* Vertical scrollbar */

.x-window > .x-window-body > .jspContainer > .jspVerticalBar,
.x-panel-marengo-panel > .x-panel-body > .jspContainer > .jspVerticalBar {
    background-color: transparent;
    width: 8px;
    right: 10px;
}

    .x-window > .x-window-body > .jspContainer > .jspVerticalBar .jspTrack,
    .x-panel-marengo-panel > .x-panel-body > .jspContainer > .jspVerticalBar .jspTrack {
        width: 8px;
    }

    .x-panel-marengo-panel > .x-panel-body > .jspContainer > .jspVerticalBar .jspCap.jspCapTop {
        height: 10px;
    }

    .x-panel-marengo-panel > .x-panel-body > .jspContainer > .jspVerticalBar .jspCap.jspCapBottom {
        height: 20px;
    }

    /*.associated-marengo-panel > .x-panel-body > .jspContainer > .jspVerticalBar .jspCap.jspCapTop,
.associated-marengo-panel > .x-panel-body > .jspContainer > .jspVerticalBar .jspCap.jspCapBottom {
    height: 0 !important;
}*/

    .x-window > .x-window-body > .jspContainer > .jspVerticalBar .jspCap.jspCapTop {
        height: 10px;
    }

    .x-window > .x-window-body > .jspContainer > .jspVerticalBar .jspCap.jspCapBottom {
        height: 15px;
    }

/* Horizontal scrollbar */

.x-window > .x-window-body > .jspContainer > .jspHorizontalBar,
.x-panel-marengo-panel > .x-panel-body > .jspContainer > .jspHorizontalBar {
    background-color: transparent;
    height: 8px;
}

    .x-window > .x-window-body > .jspContainer > .jspHorizontalBar .jspTrack,
    .x-panel-marengo-panel > .x-panel-body > .jspContainer > .jspHorizontalBar .jspTrack {
        height: 8px;
        top: 10px;
        position: relative;
    }

    .x-window > .x-window-body > .jspContainer > .jspHorizontalBar .jspCap,
    .x-panel-marengo-panel > .x-panel-body > .jspContainer > .jspHorizontalBar .jspCap {
        width: 10px;
        height: 100%;
    }

/* Scrollbars for menupanel */

.x-panel-blue-panel .jspDrag {
    background-color: #b0bec5;
    border-radius: 8px;
}

.x-panel-blue-panel .jspTrack {
    border-radius: 8px;
    border: 1px solid #b0bec5;
    background-color: transparent !important;
}

.x-panel-blue-panel .jspCap {
    display: block;
}

/* Vertical scrollbar */

.x-panel-blue-panel .jspVerticalBar {
    background-color: transparent;
    width: 8px;
    right: 10px;
}

    .x-panel-blue-panel .jspVerticalBar .jspTrack {
        width: 8px;
    }

    .x-panel-blue-panel .jspVerticalBar .jspCap {
        height: 10px;
    }

/* Scrollbars for gridview */

.scroll-curtain {
    width: 22px !important;
    height: 26px !important;
    margin-top: 4px;
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: white;
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: #ccd1d9;
}

.x-grid-view .jspDrag,
.x-tree-view .jspDrag {
    background-color: #b0bec5;
    border-radius: 8px;
}

.x-grid-view .jspTrack,
.x-tree-view .jspTrack {
    background-color: transparent !important;
}

.x-grid-view .jspTrackInner,
.x-tree-view .jspTrackInner {
    border-radius: 8px;
    background-color: #eceff1 !important;
}

.x-grid-view .jspCap,
.x-tree-view .jspCap {
    display: block;
}

.x-grid-view .jspCorner,
.x-tree-view .jspCorner {
    background-color: #ffffff;
}

/* Vertical scrollbar */

.x-grid-view .jspVerticalBar,
.x-tree-view .jspVerticalBar {
    background-color: #ffffff;
    width: 22px;
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: #ccd1d9;
}

    .x-grid-view .jspVerticalBar .jspTrack,
    .x-tree-view .jspVerticalBar .jspTrack {
        width: 22px;
    }

    .x-grid-view .jspVerticalBar .jspTrackInner,
    .x-tree-view .jspVerticalBar .jspTrackInner {
        width: 8px !important;
        margin-left: 6px;
        height: 100% !important;
    }

/* Horizontal scrollbar */

.x-grid-view .jspHorizontalBar,
.x-tree-view .jspHorizontalBar {
    background-color: #ffffff;
    height: 21px;
}

    .x-grid-view .jspHorizontalBar .jspTrackInner,
    .x-tree-view .jspHorizontalBar .jspTrackInner {
        height: 8px !important;
        top: 6px;
        position: relative;
    }

    .x-grid-view .jspHorizontalBar .jspCap,
    .x-tree-view .jspHorizontalBar .jspCap {
        height: 100%;
    }

    .x-grid-view .jspHorizontalBar .jspCapLeft,
    .x-tree-view .jspHorizontalBar .jspCapLeft {
        width: 2px;
    }

    .x-grid-view .jspHorizontalBar .jspCapRight,
    .x-tree-view .jspHorizontalBar .jspCapRight {
        border-width: 0;
    }

    .x-grid-view .jspHorizontalBar .jspCorner,
    .x-tree-view .jspHorizontalBar .jspCorner {
        height: 21px !important;
    }

/* Scrollbars for rolesview, extfiltersettings & detailform */

.extfiltersettings-panel .x-panel-light-gray-panel > .x-panel-body:not(.has-vertical-scroll) {
    padding-right: 4px !important;
}

.extfiltersettings-panel .x-panel-light-gray-panel .jspVerticalBar .jspCap {
    height: 0 !important;
}

.detailpanel .jspDrag,
.x-panel-light-gray-panel-framed:not(.gridsettings-panel) .jspDrag {
    background-color: #ccd1d9;
    border-radius: 8px;
}

.detailpanel .jspTrack,
.x-panel-light-gray-panel-framed:not(.gridsettings-panel) .jspTrack {
    border-radius: 8px;
    border: 1px solid #ccd1d9;
    background-color: transparent !important;
}

.detailpanel .jspCap,
.x-panel-light-gray-panel-framed:not(.gridsettings-panel) .jspCap {
    display: block;
}

/* Vertical scrollbar */

.detailpanel .jspVerticalBar,
.x-panel-light-gray-panel-framed:not(.gridsettings-panel) .jspVerticalBar {
    background-color: transparent;
    width: 8px;
    right: 10px;
}

    .detailpanel .jspVerticalBar .jspTrack,
    .x-panel-light-gray-panel-framed:not(.gridsettings-panel) .jspVerticalBar .jspTrack {
        width: 8px;
    }

    .detailpanel .jspVerticalBar .jspCap,
    .x-panel-light-gray-panel-framed:not(.gridsettings-panel) .jspVerticalBar .jspCap {
        height: 10px;
    }

/* TODO: понять как сделать через ui */

.x-mask {
    background-color: black;
}

.x-tool-close {
    background-image: url(images/tools/window-close.png);
}

.x-menu-item:hover .x-menu-item-text,
.x-menu-item:hover .x-menu-item-icon {
    color: white !important;
}

.x-btn-white-button-footer-toolbar-small:hover .x-btn-glyph {
    color: white !important;
}

.x-btn-disabled.x-btn-white-button-footer-toolbar-small:hover .x-btn-glyph {
    color: #90a4ae !important;
}

.x-btn-gray-button-toolbar-toolbar-small-over .x-btn-glyph {
    color: #42a5f5;
}

.x-btn-blue-button-toolbar-toolbar-small.x-disabled .x-btn-glyph {
    color: #ccd1d9;
}

.x-btn-white-button-footer-toolbar-small,
.x-btn-green-button-footer-toolbar-small {
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
}

.x-btn-blue-main-menu-button-small,
.x-btn-blue-main-menu-button-medium,
.x-btn-main-menu-button-small,
.x-btn-main-menu-button-medium {
    box-shadow: 0 5px 5px -5px rgba(0,0,0,0.5);
}

    .x-btn-selected-role-item-button-small .x-btn-inner,
    .x-btn-role-item-button-small .x-btn-inner,
    .x-btn-blue-main-menu-button-small .x-btn-inner,
    .x-btn-blue-main-menu-button-medim .x-btn-inner,
    .x-btn-main-menu-button-small .x-btn-inner,
    .x-btn-main-menu-button-medium .x-btn-inner {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

/*.x-btn-role-item-button-small:hover .x-btn-glyph {
    color: #42a5f5;
}*/

.x-panel-selectable-panel-framed,
.x-panel-blue-selectable-panel-framed,
.x-panel-light-gray-panel-framed {
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

    .x-panel-blue-selectable-panel-framed .x-grid-row-selected .x-grid-cell {
        background-color: #e1f5fe;
    }

.x-panel-selectable-panel-framed,
.x-panel-blue-selectable-panel-framed,
.x-panel-light-gray-panel-framed,
.x-panel-grid-panel-framed,
.x-window {
    padding: 0 !important;
}

    .x-panel-selectable-panel-framed .directorygrid,
    .x-panel-blue-selectable-panel-framed .directorygrid {
        padding: 4px 0 0 4px !important;
    }

    .x-panel-header-text-container-selectable-panel-framed,
    .x-panel-selectable-panel-framed .x-btn-white-button-small .x-btn-inner,
    .x-panel-selectable-panel-framed .x-btn-white-button-small .x-btn-glyph {
        color: #90a4ae;
    }

.menu-history-panel .x-panel-header {
    border-width: 1px 0 0 0 !important;
}

.menu-history-panel .x-btn-white-button-small .x-btn-inner,
.menu-history-panel .x-btn-white-button-small .x-btn-glyph {
    color: #b0bec5;
}

.x-toolbar-footer {
    border-top-width: 1px !important;
}

.x-window-body::before {
    background-color: transparent;
    content: '';
    position: absolute;
    z-index: 3;
    box-shadow: inset 0px -11px 12px -5px rgba(0,0,0,0.3);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    touch-action: none;
}

.x-panel-body-system-panel > .x-panel > .x-panel-body {
    border-width: 1px 0 0 1px !important;
    border-color: #ccd1d9;
}

.x-panel-body-system-panel > .x-panel > .x-toolbar {
    border-width: 1px 1px 0 0 !important;
    border-color: #ccd1d9;
}

.x-panel-system-panel .x-tabpanel-child,
.x-panel-system-panel .x-panel-body {
    background-color: #a5b0bd;
}

.x-btn-blue-pressed-button-toolbar-toolbar-small {
    box-shadow: 3px 3px 3px -3px rgba(0,0,0,0.4) inset;
}

.x-btn-gray-button-toolbar-toolbar-small.x-disabled .x-btn-glyph {
    color: #ccd1d9;
}

/* Form fields */

.x-form-trigger-wrap .x-form-text,
.x-form-item-body > input,
.x-form-trigger-wrap {
    border-radius: 4px;
}

.x-form-trigger {
    height: 22px;
}

.x-trigger-cell {
    vertical-align: middle;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.x-form-trigger-wrap {
    background-color: white;
}

.x-form-file-wrap .x-form-trigger-wrap {
    background-color: transparent;
}

.x-field-detail-form-field .x-form-trigger-wrap .x-form-text,
.x-field-detail-form-field .x-form-item-body > input,
.x-field-detail-form-field .x-form-trigger-wrap {
    border-radius: 0;
}

.x-field-detail-form-field:not(.x-form-readonly):not(.x-form-invalid) .x-form-text:not(.x-form-focus),
.x-field-detail-form-field:not(.x-form-readonly):not(.x-form-invalid) .x-form-item-body:not(.x-form-trigger-wrap-focus) .x-form-trigger-wrap,
.x-field-detail-form-field.x-form-readonly .x-form-text,
.x-field-detail-form-field.x-form-readonly .x-form-item-body .x-form-trigger-wrap {
    border-color: white;
}

.x-field-detail-form-field:not(.x-form-readonly) .singlelinedisplayfield,
.x-field-detail-form-field.readonly-field .x-form-text {
    background-color: #e6e9ed;
}

.x-field-detail-form-field .x-form-item-label {
    border-right-width: 0;
}

.x-field-detail-form-field .x-form-text {
    height: 25px;
}

.x-field-detail-form-field .x-form-trigger-wrap .x-form-text {
    height: 23px;
}

.x-field-detail-form-field .x-form-spinner-up,
.x-field-detail-form-field .x-form-spinner-down {
    height: 10px;
}

.x-boundlist {
    border-top-width: 1px;
    border-radius: 4px;
}

.x-boundlist-item {
    color: #434a54;
}

.x-boundlist-item-over {
    color: white;
}

.x-css-shadow {
    box-shadow: 0 0 6px rgba(0,0,0,0.7) !important;
}


.select-all-header {
    cursor: pointer;
}


/* Datepicker */

.x-datepicker-selected a.x-datepicker-date,
.x-datepicker-today a.x-datepicker-date,
a.x-datepicker-date:hover,
a.x-monthpicker-item-inner:hover,
.x-monthpicker-selected {
    border-radius: 4px;
}

.x-datepicker-selected a.x-datepicker-date {
    color: white;
}

.x-datepicker-today a.x-datepicker-date {
    border: 1px solid #42a5f5;
}

.x-btn-datepicker-button-small {
    box-shadow: 0 0px 5px 1px rgba(0,0,0,0.2);
}

.x-btn-white-button-footer-toolbar-small-pressed {
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.4) inset;
    background-color: #e1f5fe;
}

.user-window-icon {
    font-size: 80px;
    color: #ccd1d9;
    width: 100px;
    cursor: default;
}

.user-window-text {
    font-size: 12px;
    font-weight: bold;
    font-family: helvetica,arial,verdana,sans-serif;
    color: #455a64;
    padding: 0;
}

.Ext_ux_ColorPicker div {
    height: 195px;
    width: 195px;
    position: relative;
    overflow: hidden;
}



    .Ext_ux_ColorPicker div canvas {
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
    }



.Ext_ux_ColorPicker_spectrum {
    z-index: 1;
}

.Ext_ux_ColorPicker_luminance {
    z-index: 0;
}

/*Стрелка вниз на пунктах меню*/
.x-btn-botm {
    background-image: url(images/button/main-menu-button-medium-s-arrow-botm.png);
    background-position: right 8px center;
    background-repeat: no-repeat;
    padding: 8px;
}

.over_all {
    z-index: 99999 !important;
}

.x-column-header-inner {
    padding: 5px 4px !important;
    text-overflow: ellipsis
}
