<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <base href="/" />
    <title>TPM</title>
    @Styles.Render("~/Bundles/style/style.min.css")
</head>
<body>
    @Scripts.Render("~/Bundles/vendor/vendor.min.js")
    @Scripts.Render("~/Bundles/app/app.min.js")
</body>
</html>
