<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="RodMApp.Core.TPM" version="0.1.23.02091446" targetFramework="net461" />
  <package id="RodMApp.Core.TPM.Common" version="0.1.23.02091446" targetFramework="net461" />
  <package id="RodMApp.Core.TPM.Host" version="0.1.23.02091446" targetFramework="net461" />
</packages>