<?xml version="1.0" encoding="utf-8"?>
<ConfigModel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<Applications>
		<ApplicationModel name="TPM">
			<Environments>
				<EnvironmentModel name="dev">
					<BaseSettings>
						<CommandSettingModel name="ProviderName" value="System.Data.SqlClient" />
						<CommandSettingModel name="ConnectionString" value="Data Source=STSVH-SQL01\MSSQLSERVER2017,1435;Initial Catalog=TPM_Jupiter2Azure_Main_Test_Current;Persist Security Info=True;User ID=userdb;Password=qwerty1;MultipleActiveResultSets=True" />
						<CommandSettingModel name="TablePrefix" value="" />
						<CommandSettingModel name="TempScriptDirectory" value="TPMDevScriptCollect" />
						<CommandSettingModel name="CommandTimeout" value="300" />
					</BaseSettings>
					<Commands>
						<CommandModel pluginType="InitDatabase">
							<Settings>
							</Settings>
						</CommandModel>
						<CommandModel pluginType="CollectScripts">
							<Settings>
								<CommandSettingModel name="RootDirectory" value="D:\TPM_dev\DeployScript\Source" />
								<CommandSettingModel name="LeafDirectory" value="" />
								<CommandSettingModel name="SourceDirectories" value="SQLInitialize_Release*" />
							</Settings>
						</CommandModel>
						<CommandModel pluginType="BuildScript">
							<Settings>
								<CommandSettingModel name="ActualScriptFileName" value="log/NotAppliedScripts.txt" />
							</Settings>
						</CommandModel>
						<CommandModel pluginType="ApplyScript">
							<Settings>
							</Settings>
						</CommandModel>
						<CommandModel pluginType="ApplyScriptAlways">
							<Settings>
								<CommandSettingModel name="AlwaysScriptFolder" value="AlwaysScripts" />
							</Settings>
						</CommandModel>
					</Commands>
				</EnvironmentModel>
				
				<EnvironmentModel name="AzureDev">
					<BaseSettings>
						<CommandSettingModel name="ProviderName" value="System.Data.SqlClient" />
						<CommandSettingModel name="ConnectionString" value="Data Source=smartcomdevsqlsrv.database.windows.net;Initial Catalog=jupiterdevsqldb;Persist Security Info=True;User ID=jupiter_user;Password=Kz3CL7XGXbCD;MultipleActiveResultSets=True" />
						<CommandSettingModel name="TablePrefix" value="" />
						<CommandSettingModel name="TempScriptDirectory" value="TPMAzureDevScriptCollect" />
						<CommandSettingModel name="CommandTimeout" value="300" />
					</BaseSettings>
					<Commands>
						<CommandModel pluginType="InitDatabase">
							<Settings>
							</Settings>
						</CommandModel>
						<CommandModel pluginType="CollectScripts">
							<Settings>
								<CommandSettingModel name="RootDirectory" value="D:\TPM_dev\DeployScript\Source" />
								<CommandSettingModel name="LeafDirectory" value="" />
								<CommandSettingModel name="SourceDirectories" value="SQLInitialize_Release*" />
							</Settings>
						</CommandModel>
						<CommandModel pluginType="BuildScript">
							<Settings>
								<CommandSettingModel name="ActualScriptFileName" value="log/NotAppliedScripts.txt" />
							</Settings>
						</CommandModel>
						<CommandModel pluginType="ApplyScript">
							<Settings>
							</Settings>
						</CommandModel>
						<CommandModel pluginType="ApplyScriptAlways">
							<Settings>
								<CommandSettingModel name="AlwaysScriptFolder" value="AlwaysScripts" />
							</Settings>
						</CommandModel>
					</Commands>
				</EnvironmentModel>
				
				<EnvironmentModel name="AzureStage">
					<BaseSettings>
						<CommandSettingModel name="ProviderName" value="System.Data.SqlClient" />
						<CommandSettingModel name="ConnectionString" value="Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=marsanalyticsdevsqlsrv.database.windows.net;Initial Catalog=russiapetcarejupiterdevsqldb" />
						<CommandSettingModel name="TablePrefix" value="" />
						<CommandSettingModel name="TempScriptDirectory" value="TPMAzureStageScriptCollect" />
						<CommandSettingModel name="CommandTimeout" value="300" />
					</BaseSettings>
					<Commands>
						<CommandModel pluginType="InitDatabase">
							<Settings>
							</Settings>
						</CommandModel>
						<CommandModel pluginType="CollectScripts">
							<Settings>
								<CommandSettingModel name="RootDirectory" value="D:\TPM_dev\DeployScript\Source" />
								<CommandSettingModel name="LeafDirectory" value="" />
								<CommandSettingModel name="SourceDirectories" value="SQLInitialize_Release*" />
							</Settings>
						</CommandModel>
						<CommandModel pluginType="BuildScript">
							<Settings>
								<CommandSettingModel name="ActualScriptFileName" value="log/NotAppliedScripts.txt" />
							</Settings>
						</CommandModel>
						<CommandModel pluginType="ApplyScript">
							<Settings>
							</Settings>
						</CommandModel>
					</Commands>
				</EnvironmentModel>
				
			</Environments>
		</ApplicationModel>
	</Applications>
</ConfigModel>
